@charset "UTF-8";
*{margin: 0 auto; padding: 0; box-sizing: border-box;}

.top_section{
	height: 100px;
	background-color: #f2f4f7;
}
.wrap_form{
	height: 1000px;
}
li{
	list-style: none;
	font-family: 'Noto Sans KR', sans-serif;
}
th, td{
	font-family: 'Noto Sans KR', sans-serif;
}
}
p{
	font-family: 'Noto Sans KR', sans-serif;
}
th, td{
	font-family: 'Noto Sans KR', sans-serif;
}
.join_box{
	margin-top: 130px;
	width: 600px;
	height: 691px;
	border: 1px solid  #e3e3e3;
	padding: 82px 69px;
	border-radius: 20px;
	background-color: #F8FBF9;
}
li{
	list-style-type: none;
}
.head{
	display: inline-block;
	width: 130px;
	text-align: center;
}
.title{
	height: 60px;
}

input{
	width: 300px;
	height: 47px;
	outline: 0.3px solid #f 2f4f7;
}
.join{
	width: 435px;
	margin-top: 25px;
	background-color: #FF914D;
	border: none;
	border-radius: 10px;
	font-size: 20px;
}

.submit{
	margin-left: 10px;
	margin-top: 10px;
	width: 402px;
}